= will_paginate @comments, :class => :wall_pagination, :param_name => :wall_page

- @comments.each do |comment|
  = render comment

= will_paginate @comments, :class => :wall_pagination, :param_name => :wall_page
