- comments ||= @comments

#wall_everything
  = will_paginate comments, :param_name => :wall_page, :previous_label => "← Prev"

  .comment_list
    - comments.each do |comment|
      = render comment

  = will_paginate comments, :param_name => :wall_page, :previous_label => "← Prev"
