// Color styles ----------------------------------------------------

body, select, input, textarea
  color: $font-color
  border-color: $border-color

body
  background-color: $border-color

select, input, textarea
  background-color: $highlight-color
  border-color: $border-color


.container
  background-color: $base-color

#header, .image.thumb img
  background-color: $border-color

.cssgradients #header
  +linear-gradient(color-stops($base-color, $highlight-color))
  +box-shadow($border-color, 0, 2px)

#flash
  div
    +box-shadow
    background-color: $highlight-color
    color: $font-color
  .notice
    background-color: $font-color
    color: $base-color
  .error, .warning
    background-color: $error-color
    color: $base-color
  .success
    background-color: $splash-color
    color: $base-color

.ad-image-wrapper, .ad-nav, .create_user, #login, #signup
  border-color: $border-color
  +fuzzy-border($border-color)

.date, .input_prompt, .control-link-inactive, .ad-controls, label, .label, #main > h1, #main > h2, #content > h1, #content > h2, footer
  color: transparentize($font-color, 0.4)

.disabled
  opacity: 0.5 !important

a
  &:link, &:visited
    color: $link-color
    +text-shadow
  &:focus, &:hover, &:active
    color: complement($link-color)
    +text-shadow(lighten(complement($link-color), 20%), 0, 0, 2px)


.comment
  border-color: $border-color

.control, .control-link
  background-color: $border-color
  border-color: $link-color
  +box-shadow
  &:focus, &:hover, &:active
    background-color: lighten($base-color, 0.6)
    border-color: complement($link-color)
    +box-glow(complement($link-color))

.control-link
  color: $link-color
  &:focus, &:hover, &:active
    color: complement($link-color)

.control-link-inactive
  background-color: $base-color
  border-color: $border-color

.image.absent
  background-color: $border-color

.user .image-list .image.absent
  background-color: $error-color !important
  a
    color: $font-color

.image.thumb img
  +box-shadow
  &:focus, &:hover, &:active
    +box-glow(complement($link-color))

.ad-active img
  border-color: $splash-color !important

textarea:focus
  border-color: complement($link-color)

.pop-up
  background-color: $base-color
  border-color: transparentize($highlight-color, 0.5)

.control-link[data-method=delete]:hover
  background-color: $error-color
  color: $font-color

