//--------------------------------
// Helpers
//--------------------------------

// Set +prepend() on any element to add empty columns as margin before
= prepend($n, $context: false)
  margin-left: columns($n, $context) + gutter($context)

= append($n, $context: false)
  margin-right: columns($n, $context) + gutter($context)

// If $n is unitless then it is taken
// as number of rows, otherwise it is used as is
= height($n, $fontsize: $base-font-size)
  @if unitless($n)
    $n: #{$base-line-height / $fontsize * $n}em
  height: $n

= heights($n: false, $min: false, $max: false, $fontsize: $base-font-size)
  @if $n
    +height($n, $fontsize)
  
  @if type_of($min) == number
    @if unitless($min)
      $min: #{$base-line-height / $fontsize * $min}em
    +min_height($min)
    
  @if type_of($max) == number
    @if unitless($max)
      $max: #{$base-line-height / $fontsize * $max}em
    max-height: $max

= box-glow($color: $link_color)
  +box-shadow($color, 0, 0, 0.5em)

// pass in the same color as the background
= fuzzy-border($color)
  background-color: $color
  +border-radius
  +box-shadow($color, 0, 0, 2px)


// Class Styles

.ir
  +image-replacement

.hidden
  +hidden

.visuallyhidden
  +visually-hidden

.clearfix
  +pie-clearfix
  // defined by compass core


// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid

input:invalid, textarea:invalid
  +border-radius
  +box-shadow(red, 0, 0, 5px, 0)

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid
  background-color: #f0dddd

= control-link
  text-align: middle
  padding: 0 0.5em
  border-width: 1px
  border-style: solid
  position: relative
  top: -0.1em
  +border-radius
  +adjust-font-size-to(12px)
  +sans-family

.control-link
  cursor: pointer
  +control-link
  
  
.control-link-inactive
  cursor: default
  +control-link
  