/* line 27, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 29, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.8.0/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.8.0/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 16, ../../app/stylesheets/partials/_fonts.sass */
.serif, body {
  font-family: Cambria, Georgia, serif;
}

/* line 19, ../../app/stylesheets/partials/_fonts.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 22, ../../app/stylesheets/partials/_fonts.sass */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 25, ../../app/stylesheets/partials/_fonts.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 28, ../../app/stylesheets/partials/_fonts.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 32, ../../app/stylesheets/partials/_fonts.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* line 36, ../../app/stylesheets/partials/_fonts.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 45, ../../app/stylesheets/partials/_helpers.sass */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 48, ../../app/stylesheets/partials/_helpers.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 51, ../../app/stylesheets/partials/_helpers.sass */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 54, ../../app/stylesheets/partials/_helpers.sass */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 63, ../../app/stylesheets/partials/_helpers.sass */
input:invalid, textarea:invalid {
  -moz-border-radius: 0.33em;
  -webkit-border-radius: 0.33em;
  -o-border-radius: 0.33em;
  -ms-border-radius: 0.33em;
  -khtml-border-radius: 0.33em;
  border-radius: 0.33em;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 67, ../../app/stylesheets/partials/_helpers.sass */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 84, ../../app/stylesheets/partials/_helpers.sass */
.control, .user .image-list .image.absent {
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 0.33em;
  -webkit-border-radius: 0.33em;
  -o-border-radius: 0.33em;
  -ms-border-radius: 0.33em;
  -khtml-border-radius: 0.33em;
  border-radius: 0.33em;
}

/* line 87, ../../app/stylesheets/partials/_helpers.sass */
.control-link, .ad-gallery .ad-slideshow-start, .ad-gallery .ad-slideshow-stop, .ad-gallery .ad-thumbs li a img {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 0.33em;
  -webkit-border-radius: 0.33em;
  -o-border-radius: 0.33em;
  -ms-border-radius: 0.33em;
  -khtml-border-radius: 0.33em;
  border-radius: 0.33em;
  text-align: middle;
  padding: 0 0.5em;
  position: relative;
  top: -0.1em;
  font-size: 0.75em;
  line-height: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 93, ../../app/stylesheets/partials/_helpers.sass */
.control-link-inactive {
  cursor: default;
  text-align: middle;
  padding: 0 0.5em;
  position: relative;
  top: -0.1em;
  font-size: 0.75em;
  line-height: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 3, ../../app/stylesheets/partials/_colors.sass */
body, select, input, textarea {
  color: #cccccc;
  border-color: #1a1a1a;
}

/* line 7, ../../app/stylesheets/partials/_colors.sass */
body {
  background-color: #1a1a1a;
}

/* line 10, ../../app/stylesheets/partials/_colors.sass */
select, input, textarea {
  background-color: #2f2f2f;
  border-color: #1a1a1a;
}

/* line 15, ../../app/stylesheets/partials/_colors.sass */
.container {
  background-color: #222222;
}

/* line 18, ../../app/stylesheets/partials/_colors.sass */
#header, .image.thumb img {
  background-color: #1a1a1a;
}

/* line 21, ../../app/stylesheets/partials/_colors.sass */
.cssgradients #header {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #222222), color-stop(100%, #2f2f2f));
  background-image: -moz-linear-gradient(top, #222222 0%, #2f2f2f 100%);
  background-image: linear-gradient(top, #222222 0%, #2f2f2f 100%);
  -moz-box-shadow: #1a1a1a 0 2px 5px 0;
  -webkit-box-shadow: #1a1a1a 0 2px 5px 0;
  -o-box-shadow: #1a1a1a 0 2px 5px 0;
  box-shadow: #1a1a1a 0 2px 5px 0;
}

/* line 26, ../../app/stylesheets/partials/_colors.sass */
#flash div {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  background-color: #2f2f2f;
  color: #cccccc;
}
/* line 30, ../../app/stylesheets/partials/_colors.sass */
#flash .notice {
  background-color: #cccccc;
  color: #222222;
}
/* line 33, ../../app/stylesheets/partials/_colors.sass */
#flash .error, #flash .warning {
  background-color: #b81212;
  color: #222222;
}
/* line 36, ../../app/stylesheets/partials/_colors.sass */
#flash .success {
  background-color: #52ad4b;
  color: #222222;
}

/* line 40, ../../app/stylesheets/partials/_colors.sass */
.ad-image-wrapper, .ad-nav, .create_user, #login, #signup {
  border-color: #1a1a1a;
  background-color: #1a1a1a;
  -moz-border-radius: 0.33em;
  -webkit-border-radius: 0.33em;
  -o-border-radius: 0.33em;
  -ms-border-radius: 0.33em;
  -khtml-border-radius: 0.33em;
  border-radius: 0.33em;
  -moz-box-shadow: #1a1a1a 0 0 2px 0;
  -webkit-box-shadow: #1a1a1a 0 0 2px 0;
  -o-box-shadow: #1a1a1a 0 0 2px 0;
  box-shadow: #1a1a1a 0 0 2px 0;
}

/* line 44, ../../app/stylesheets/partials/_colors.sass */
.date, .input_prompt, .control-link-inactive, .ad-controls, label, .label, #main > h1, #main > h2, #content > h1, #content > h2, footer {
  color: rgba(204, 204, 204, 0.6);
}

/* line 47, ../../app/stylesheets/partials/_colors.sass */
.disabled {
  opacity: 0.5 !important;
}

/* line 51, ../../app/stylesheets/partials/_colors.sass */
a:link, a:visited {
  color: #607890;
  text-shadow: black 1px 1px 1px;
}
/* line 54, ../../app/stylesheets/partials/_colors.sass */
a:focus, a:hover, a:active {
  color: #907860;
  text-shadow: #bcab9a 0 0 2px;
}

/* line 59, ../../app/stylesheets/partials/_colors.sass */
.comment {
  border-color: #1a1a1a;
}

/* line 62, ../../app/stylesheets/partials/_colors.sass */
.control, .user .image-list .image.absent, .control-link, .ad-gallery .ad-slideshow-start, .ad-gallery .ad-slideshow-stop, .ad-gallery .ad-thumbs li a img {
  background-color: #1a1a1a;
  border-color: #607890;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
}
/* line 66, ../../app/stylesheets/partials/_colors.sass */
.control:focus, .user .image-list .image.absent:focus, .control:hover, .user .image-list .image.absent:hover, .control:active, .user .image-list .image.absent:active, .control-link:focus, .ad-gallery .ad-slideshow-start:focus, .ad-gallery .ad-slideshow-stop:focus, .ad-gallery .ad-thumbs li a img:focus, .control-link:hover, .ad-gallery .ad-slideshow-start:hover, .ad-gallery .ad-slideshow-stop:hover, .ad-gallery .ad-thumbs li a img:hover, .control-link:active, .ad-gallery .ad-slideshow-start:active, .ad-gallery .ad-slideshow-stop:active, .ad-gallery .ad-thumbs li a img:active {
  background-color: #242424;
  border-color: #907860;
  -moz-box-shadow: #907860 0 0 0.5em 0;
  -webkit-box-shadow: #907860 0 0 0.5em 0;
  -o-box-shadow: #907860 0 0 0.5em 0;
  box-shadow: #907860 0 0 0.5em 0;
}

/* line 71, ../../app/stylesheets/partials/_colors.sass */
.control-link, .ad-gallery .ad-slideshow-start, .ad-gallery .ad-slideshow-stop, .ad-gallery .ad-thumbs li a img {
  color: #607890;
}
/* line 73, ../../app/stylesheets/partials/_colors.sass */
.control-link:focus, .ad-gallery .ad-slideshow-start:focus, .ad-gallery .ad-slideshow-stop:focus, .ad-gallery .ad-thumbs li a img:focus, .control-link:hover, .ad-gallery .ad-slideshow-start:hover, .ad-gallery .ad-slideshow-stop:hover, .ad-gallery .ad-thumbs li a img:hover, .control-link:active, .ad-gallery .ad-slideshow-start:active, .ad-gallery .ad-slideshow-stop:active, .ad-gallery .ad-thumbs li a img:active {
  color: #907860;
}

/* line 76, ../../app/stylesheets/partials/_colors.sass */
.control-link-inactive {
  background-color: #222222;
  border-color: #1a1a1a;
}

/* line 80, ../../app/stylesheets/partials/_colors.sass */
.image.absent {
  background-color: #1a1a1a;
}

/* line 83, ../../app/stylesheets/partials/_colors.sass */
.user .image-list .image.absent {
  background-color: #b81212 !important;
}
/* line 85, ../../app/stylesheets/partials/_colors.sass */
.user .image-list .image.absent a {
  color: #cccccc;
}

/* line 88, ../../app/stylesheets/partials/_colors.sass */
.image.thumb img {
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
}
/* line 90, ../../app/stylesheets/partials/_colors.sass */
.image.thumb img:focus, .image.thumb img:hover, .image.thumb img:active {
  -moz-box-shadow: #907860 0 0 0.5em 0;
  -webkit-box-shadow: #907860 0 0 0.5em 0;
  -o-box-shadow: #907860 0 0 0.5em 0;
  box-shadow: #907860 0 0 0.5em 0;
}

/* line 93, ../../app/stylesheets/partials/_colors.sass */
.ad-active img {
  border-color: #52ad4b !important;
}

/* line 96, ../../app/stylesheets/partials/_colors.sass */
textarea:focus {
  border-color: #907860;
}

/* line 99, ../../app/stylesheets/partials/_colors.sass */
.pop-up {
  background-color: #222222;
  border-color: rgba(47, 47, 47, 0.5);
}

/* line 103, ../../app/stylesheets/partials/_colors.sass */
.control-link[data-method=delete]:hover, .ad-gallery [data-method=delete].ad-slideshow-start:hover, .ad-gallery [data-method=delete].ad-slideshow-stop:hover, .ad-gallery .ad-thumbs li a img[data-method=delete]:hover {
  background-color: #b81212;
  color: #cccccc;
}

/* line 10, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 16, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 14, ../../app/stylesheets/partials/_defaults.sass */
html {
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 24, ../../app/stylesheets/partials/_defaults.sass */
.container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
}
/* line 22, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 36, ../../app/stylesheets/partials/_defaults.sass */
::-moz-selection {
  color: white;
  background: #607890;
  text-shadow: none;
}

/* line 41, ../../app/stylesheets/partials/_defaults.sass */
::selection {
  color: white;
  background: #607890;
  text-shadow: none;
}

/* line 49, ../../app/stylesheets/partials/_defaults.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
  text-decoration: none;
}
/* line 52, ../../app/stylesheets/partials/_defaults.sass */
a:focus, a:hover, a:active {
  text-decoration: none;
}

/* line 59, ../../app/stylesheets/partials/_defaults.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 62, ../../app/stylesheets/partials/_defaults.sass */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 69, ../../app/stylesheets/partials/_defaults.sass */
h3 {
  font-weight: bold;
}

/* line 72, ../../app/stylesheets/partials/_defaults.sass */
h4 {
  text-transform: lowercase;
}

/* line 76, ../../app/stylesheets/partials/_defaults.sass */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 81, ../../app/stylesheets/partials/_defaults.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 84, ../../app/stylesheets/partials/_defaults.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 87, ../../app/stylesheets/partials/_defaults.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 91, ../../app/stylesheets/partials/_defaults.sass */
sup {
  vertical-align: super;
}

/* line 94, ../../app/stylesheets/partials/_defaults.sass */
sub {
  vertical-align: sub;
}

/* line 97, ../../app/stylesheets/partials/_defaults.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 101, ../../app/stylesheets/partials/_defaults.sass */
ins {
  text-decoration: underline;
}

/* line 104, ../../app/stylesheets/partials/_defaults.sass */
del {
  text-decoration: line-through;
}

/* line 107, ../../app/stylesheets/partials/_defaults.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 112, ../../app/stylesheets/partials/_defaults.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 115, ../../app/stylesheets/partials/_defaults.sass */
q {
  font-style: italic;
}
/* line 117, ../../app/stylesheets/partials/_defaults.sass */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 125, ../../app/stylesheets/partials/_defaults.sass */
p {
  margin-bottom: 1.5em;
}

/* line 128, ../../app/stylesheets/partials/_defaults.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 135, ../../app/stylesheets/partials/_defaults.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 141, ../../app/stylesheets/partials/_defaults.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 148, ../../app/stylesheets/partials/_defaults.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 152, ../../app/stylesheets/partials/_defaults.sass */
ol {
  list-style: decimal;
}

/* line 155, ../../app/stylesheets/partials/_defaults.sass */
ul {
  list-style: disc;
}
/* line 157, ../../app/stylesheets/partials/_defaults.sass */
li ul {
  list-style-type: circle;
}

/* line 160, ../../app/stylesheets/partials/_defaults.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 164, ../../app/stylesheets/partials/_defaults.sass */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 170, ../../app/stylesheets/partials/_defaults.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 176, ../../app/stylesheets/partials/_defaults.sass */
table, td, th {
  vertical-align: top;
}

/* line 179, ../../app/stylesheets/partials/_defaults.sass */
th, thead th {
  font-weight: bold;
}

/* line 182, ../../app/stylesheets/partials/_defaults.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 187, ../../app/stylesheets/partials/_defaults.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 190, ../../app/stylesheets/partials/_defaults.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 198, ../../app/stylesheets/partials/_defaults.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 202, ../../app/stylesheets/partials/_defaults.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 206, ../../app/stylesheets/partials/_defaults.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 209, ../../app/stylesheets/partials/_defaults.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 212, ../../app/stylesheets/partials/_defaults.sass */
label {
  font-weight: bold;
}

/* line 217, ../../app/stylesheets/partials/_defaults.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  height: 2.571em;
}

/* line 226, ../../app/stylesheets/partials/_defaults.sass */
textarea {
  margin-bottom: 0em;
  height: 5.143em;
  vertical-align: text-bottom;
  margin-bottom: -0.18em;
}

/* line 240, ../../app/stylesheets/partials/_defaults.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 242, ../../app/stylesheets/partials/_defaults.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 245, ../../app/stylesheets/partials/_defaults.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 60, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 65, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 77, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 78, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 79, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 80, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 97, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 98, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 103, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 114, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 118, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.2.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* Styles -------------------------------------------------------------- */
/* line 29, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.8.0/sass/susy/_vertical_rhythm.scss */
body body {
  font-size: 100%;
  line-height: 1.5em;
}
/* line 33, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-susy-plugin-0.8.0/sass/susy/_vertical_rhythm.scss */
body html > body {
  font-size: 16px;
}

/* line 37, ../../app/stylesheets/screen.sass */
#header {
  clear: both;
  height: 3em;
  position: relative;
  z-index: 100;
}

/* line 43, ../../app/stylesheets/screen.sass */
#title {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
  font-size: 2em;
  line-height: 1.5em;
  margin: 0;
  position: relative;
  bottom: -0.2em;
  left: 16px;
}

/* line 52, ../../app/stylesheets/screen.sass */
#nav {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  margin-top: 1.5em;
}

/* line 57, ../../app/stylesheets/screen.sass */
#secondary-nav {
  clear: both;
}

/* line 61, ../../app/stylesheets/screen.sass */
#nav ul, #secondary-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#nav ul li, #secondary-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 43, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#nav ul li:first-child, #nav ul li.first, #secondary-nav ul li:first-child, #secondary-nav ul li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#nav ul li:last-child, #nav ul li.last, #secondary-nav ul li:last-child, #secondary-nav ul li.last {
  padding-right: 0px;
}
/* line 63, ../../app/stylesheets/screen.sass */
#nav ul li, #secondary-nav ul li {
  width: 4em;
  text-align: center;
  padding-right: 0;
}
/* line 67, ../../app/stylesheets/screen.sass */
#nav ul li.wide, #secondary-nav ul li.wide {
  text-align: left;
  width: 8em;
}
/* line 70, ../../app/stylesheets/screen.sass */
#nav ul #user, #secondary-nav ul #user {
  width: auto;
  float: right;
  text-align: right;
  margin-right: 1em;
}
/* line 75, ../../app/stylesheets/screen.sass */
#nav ul #user .control-link, #nav ul #user .ad-gallery .ad-slideshow-start, .ad-gallery #nav ul #user .ad-slideshow-start, #nav ul #user .ad-gallery .ad-slideshow-stop, .ad-gallery #nav ul #user .ad-slideshow-stop, #nav ul #user .ad-gallery .ad-thumbs li a img, .ad-gallery .ad-thumbs li a #nav ul #user img, #secondary-nav ul #user .control-link, #secondary-nav ul #user .ad-gallery .ad-slideshow-start, .ad-gallery #secondary-nav ul #user .ad-slideshow-start, #secondary-nav ul #user .ad-gallery .ad-slideshow-stop, .ad-gallery #secondary-nav ul #user .ad-slideshow-stop, #secondary-nav ul #user .ad-gallery .ad-thumbs li a img, .ad-gallery .ad-thumbs li a #secondary-nav ul #user img {
  margin-left: 1em;
}

/* line 78, ../../app/stylesheets/screen.sass */
#main {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  overflow: hidden;
  *zoom: 1;
  min-height: 650px;
}
/* line 83, ../../app/stylesheets/screen.sass */
#main #flash {
  width: 97%;
  position: absolute;
  z-index: 90;
}
/* line 88, ../../app/stylesheets/screen.sass */
#main #flash div {
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -khtml-border-radius: 0.2em;
  border-radius: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 92, ../../app/stylesheets/screen.sass */
#main #flash p {
  text-align: center;
  margin: 0;
}
/* line 95, ../../app/stylesheets/screen.sass */
#main #content {
  clear: both;
}
/* line 98, ../../app/stylesheets/screen.sass */
#main #content .full {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.695%;
  margin-bottom: 1.5em;
}
/* line 101, ../../app/stylesheets/screen.sass */
#main #content.with-comments {
  display: inline;
  float: left;
  width: 66.102%;
  margin-right: 1.695%;
}
/* line 103, ../../app/stylesheets/screen.sass */
#main #content.with-comments .full {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 2.564%;
}
/* line 105, ../../app/stylesheets/screen.sass */
#main #wall {
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 108, ../../app/stylesheets/screen.sass */
#main #wall .notices {
  height: 3em;
}

/* line 111, ../../app/stylesheets/screen.sass */
#footer {
  clear: both;
  margin-top: 1.5em;
  margin-left: 1.639%;
}

/* line 116, ../../app/stylesheets/screen.sass */
#about {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
  margin-top: 1.5em;
}

/* line 120, ../../app/stylesheets/screen.sass */
#special_notice {
  clear: both;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-bottom: 1.5em;
}
/* line 124, ../../app/stylesheets/screen.sass */
#special_notice p:last-child {
  margin-bottom: 0;
}
/* line 126, ../../app/stylesheets/screen.sass */
#special_notice em {
  font-weight: bold;
  font-style: normal;
}

/* line 133, ../../app/stylesheets/screen.sass */
#login, #signup {
  display: inline;
  float: left;
  width: 40.678%;
  margin-right: 1.695%;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

/* line 139, ../../app/stylesheets/screen.sass */
#login {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 142, ../../app/stylesheets/screen.sass */
#signup {
  margin-left: 25.424%;
}

/* line 146, ../../app/stylesheets/screen.sass */
.registrations #content > *, .passwords #main > * {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
}
/* line 148, ../../app/stylesheets/screen.sass */
.registrations #content i, .passwords #main i {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 152, ../../app/stylesheets/screen.sass */
.comments label {
  position: relative;
  bottom: -0.4em;
  left: 3px;
}

/* line 157, ../../app/stylesheets/screen.sass */
.input_prompt {
  margin-bottom: 0;
}

/* line 160, ../../app/stylesheets/screen.sass */
.new_comment {
  clear: both;
}
/* line 162, ../../app/stylesheets/screen.sass */
.new_comment .controls {
  clear: both;
  margin-bottom: 1.5em;
  text-align: right;
}
/* line 166, ../../app/stylesheets/screen.sass */
.new_comment input {
  font-size: 0.75em;
  line-height: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 170, ../../app/stylesheets/screen.sass */
.comment, summary {
  clear: both;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: -0.063em;
}
/* line 173, ../../app/stylesheets/screen.sass */
.comment p, summary p {
  clear: both;
  margin-bottom: 0em;
  padding-left: 1em;
}
/* line 177, ../../app/stylesheets/screen.sass */
.comment .info, summary .info {
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 0.75em;
  line-height: 2em;
}
/* line 51, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.comment .info li, summary .info li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
/* line 43, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.comment .info li:first-child, .comment .info li.first, summary .info li:first-child, summary .info li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.comment .info li:last-child, .comment .info li.last, summary .info li:last-child, summary .info li.last {
  padding-right: 0px;
}
/* line 182, ../../app/stylesheets/screen.sass */
.comment .info .user, summary .info .user {
  font-weight: bold;
}
/* line 184, ../../app/stylesheets/screen.sass */
.comment .info .date, summary .info .date {
  font-style: italic;
}
/* line 186, ../../app/stylesheets/screen.sass */
.comment .info .edit, .comment .info .delete, summary .info .edit, summary .info .delete {
  float: right;
}
/* line 188, ../../app/stylesheets/screen.sass */
.comment .info .edit, summary .info .edit {
  margin-right: 0.5em;
}

/* line 194, ../../app/stylesheets/screen.sass */
.images h2.date, .users h2.date {
  clear: both;
  margin: 0;
}
/* line 197, ../../app/stylesheets/screen.sass */
.images .image, .users .image {
  clear: both;
}
/* line 199, ../../app/stylesheets/screen.sass */
.images .image > div, .users .image > div {
  clear: both;
}
/* line 201, ../../app/stylesheets/screen.sass */
.images .image > details, .users .image > details {
  clear: both;
  margin-bottom: 1.5em;
}
/* line 206, ../../app/stylesheets/screen.sass */
.images .image.icon > a, .images .image.thumb > a, .users .image.icon > a, .users .image.thumb > a {
  display: inline;
  float: left;
  width: 10.256%;
  margin-right: 2.564%;
}
/* line 208, ../../app/stylesheets/screen.sass */
.images .image.icon > details, .images .image.thumb > details, .users .image.icon > details, .users .image.thumb > details {
  display: inline;
  float: left;
  width: 87.179%;
  margin-right: 2.564%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  clear: none;
}

/* line 213, ../../app/stylesheets/screen.sass */
.image details a[data-method=delete] {
  float: right;
}

/* line 216, ../../app/stylesheets/screen.sass */
.image.icon img {
  width: 2em;
  height: 2em;
}

/* line 219, ../../app/stylesheets/screen.sass */
.image.thumb img {
  max-width: 4em;
  max-height: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 226, ../../app/stylesheets/screen.sass */
.container {
  position: relative;
  z-index: 1;
}

/* line 233, ../../app/stylesheets/screen.sass */
.notices {
  text-align: center;
}
/* line 235, ../../app/stylesheets/screen.sass */
.notices a {
  font-size: 1em;
  line-height: 3em;
  padding: 0.3em 1em;
}

/* line 240, ../../app/stylesheets/screen.sass */
#content .users {
  clear: both;
}
/* line 242, ../../app/stylesheets/screen.sass */
#content .users ul {
  clear: both;
  height: 2.25em;
}
/* line 245, ../../app/stylesheets/screen.sass */
#content .users ul li {
  display: inline;
  float: left;
  width: 15.254%;
  margin-right: 1.695%;
  text-align: center;
}
/* line 248, ../../app/stylesheets/screen.sass */
#content .users ul li a.control-link, #content .users ul li .ad-gallery a.ad-slideshow-start, .ad-gallery #content .users ul li a.ad-slideshow-start, #content .users ul li .ad-gallery a.ad-slideshow-stop, .ad-gallery #content .users ul li a.ad-slideshow-stop {
  display: block;
  width: 80%;
  height: 80%;
  margin-top: 10%;
}
/* line 253, ../../app/stylesheets/screen.sass */
#content .users ul li.short {
  display: inline;
  float: left;
  width: 6.78%;
  margin-right: 1.695%;
}
/* line 255, ../../app/stylesheets/screen.sass */
#content .users ul li.long {
  display: inline;
  float: left;
  width: 23.729%;
  margin-right: 1.695%;
}
/* line 257, ../../app/stylesheets/screen.sass */
#content .users ul li:last {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 260, ../../app/stylesheets/screen.sass */
#content .users .create_user {
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
}

/* line 264, ../../app/stylesheets/screen.sass */
.time.controls {
  clear: both;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-left: 7.692%;
  padding-right: 7.692%;
}
/* line 269, ../../app/stylesheets/screen.sass */
.time.controls a {
  margin: auto;
}
/* line 271, ../../app/stylesheets/screen.sass */
.time.controls #prev, .time.controls #next {
  display: inline;
  float: left;
  width: 10.256%;
  margin-right: 2.564%;
}
/* line 273, ../../app/stylesheets/screen.sass */
.time.controls .date {
  display: inline;
  float: left;
  width: 74.359%;
  margin-right: 2.564%;
  text-align: center;
}
/* line 276, ../../app/stylesheets/screen.sass */
.time.controls h3 {
  margin: 0;
}
/* line 278, ../../app/stylesheets/screen.sass */
.time.controls #next {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  text-align: right;
}

/* line 284, ../../app/stylesheets/screen.sass */
.week {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 2.564%;
  position: relative;
  z-index: auto;
}
/* line 288, ../../app/stylesheets/screen.sass */
.week .label {
  display: block;
  font-size: 1.875em;
  line-height: 1.6em;
  position: absolute;
  top: -0.85em;
  z-index: -1;
}

/* line 299, ../../app/stylesheets/screen.sass */
body.home .user.week {
  opacity: 0.6;
}
/* line 301, ../../app/stylesheets/screen.sass */
body.home .user.week:hover {
  opacity: 1;
}

/* line 306, ../../app/stylesheets/screen.sass */
body.home .weeklist .week {
  margin-top: 0.75em;
  top: 0;
  opacity: 1;
}

/* line 312, ../../app/stylesheets/screen.sass */
body.home .month .week {
  margin-top: 0.75em;
}

/* line 315, ../../app/stylesheets/screen.sass */
.image-list {
  display: inline;
  float: left;
  width: 87.179%;
  margin-right: 2.564%;
  height: 4.5em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 2.5em;
  overflow: visible;
}
/* line 51, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.image-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 43, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.image-list li:first-child, .image-list li.first {
  padding-left: 0px;
}
/* line 44, ../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.image-list li:last-child, .image-list li.last {
  padding-right: 0px;
}
/* line 324, ../../app/stylesheets/screen.sass */
.image-list li {
  white-space: inherit;
}
/* line 329, ../../app/stylesheets/screen.sass */
.image-list > .image {
  margin-top: 0.3em;
}
/* line 331, ../../app/stylesheets/screen.sass */
.image-list > .image a {
  vertical-align: middle;
}
/* line 333, ../../app/stylesheets/screen.sass */
.image-list div.image.thumb {
  width: 4em;
  height: 4em;
}
/* line 336, ../../app/stylesheets/screen.sass */
.image-list .image.absent {
  display: block;
  width: 3.875em;
  height: 3.875em;
  border: 1px solid #1a1a1a;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 344, ../../app/stylesheets/screen.sass */
.image-list .image.absent a {
  display: none;
  padding-top: 0.313em;
  width: 100%;
  height: 3.563em;
}

/* line 352, ../../app/stylesheets/screen.sass */
.user .image-list .image.absent a {
  display: block;
}

/* line 356, ../../app/stylesheets/screen.sass */
.pop-up {
  position: absolute;
  margin-left: -20000px;
  z-index: 50;
  min-width: 12em;
  max-width: 23em;
  max-height: 23em;
  padding: 0.688em;
  border: 1px solid;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 5px 0;
}
/* line 367, ../../app/stylesheets/screen.sass */
.pop-up textarea {
  min-width: 23em;
}

/* line 371, ../../app/stylesheets/screen.sass */
.image.thumb:hover > .pop-up {
  margin-left: 0;
}

/* line 374, ../../app/stylesheets/screen.sass */
.pop-up:hover {
  margin-left: -30px;
}

/* line 10, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 14, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery div, .ad-gallery p {
  margin: 0;
  padding: 0;
}
/* line 17, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper {
  width: 100%;
  height: 27em;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}
/* line 23, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-loader {
  position: absolute;
  z-index: 10;
  top: 48%;
  left: 48%;
  border: 1px solid #cccccc;
}
/* line 29, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-next {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: block;
  z-index: 10;
}
/* line 38, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-prev {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  cursor: pointer;
  display: block;
  z-index: 10;
}
/* line 47, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image {
  background: url('/images/gallery/ad_prev.png?1284913426');
  width: 30px;
  height: 30px;
  display: none;
  position: absolute;
  top: 47%;
  left: 0;
  z-index: 11;
}
/* line 56, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
  background: url('/images/gallery/ad_prev.png?1284913426');
  width: 30px;
  height: 30px;
  display: none;
  position: absolute;
  top: 47%;
  left: 0;
  z-index: 11;
  background: url('/images/gallery/ad_next.png?1284913426');
  width: 30px;
  height: 30px;
  right: 0;
  left: auto;
}
/* line 70, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-image {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 9;
}
/* line 76, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-image a img {
  border: 0;
}
/* line 78, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 7px;
  text-align: left;
  width: 100%;
  z-index: 10 -2;
  background: url('/images/gallery/opa75.png?1284913426');
  color: black;
}

/* line 94, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-description-title:after {
  content: ": ";
}
/* line 96, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-controls {
  clear: both;
  height: 1.5em;
}
/* line 99, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-info {
  display: inline;
  float: left;
  width: 10.256%;
  margin-right: 2.564%;
  margin-left: 1.639%;
}
/* line 102, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-info, .ad-gallery .ad-slideshow-countdown {
  font-size: 0.75em;
  line-height: 2em;
}
/* line 104, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-slideshow-countdown {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}
/* line 106, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-slideshow-controls {
  display: inline;
  float: left;
  width: 23.077%;
  margin-right: 2.564%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 109, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
  margin-right: 1em;
  cursor: pointer;
}
/* line 118, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-nav {
  display: inline;
  float: left;
  width: 87.179%;
  margin-right: 2.564%;
  height: 3em;
  margin-left: 2.5em;
  position: relative;
}
/* line 125, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-forward, .ad-gallery .ad-back {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
}

/* line 135, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-back {
  left: -1em;
  width: 1em;
  background: url('/images/gallery/ad_scroll_back.png?1284913426') 0px 15px no-repeat;
}
/* line 139, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-forward {
  right: -1em;
  width: 1em;
  background: url('/images/gallery/ad_scroll_forward.png?1284913426') 0px 15px no-repeat;
}
/* line 143, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-nav .ad-thumbs {
  clear: both;
  height: 3em;
  overflow: hidden;
}
/* line 148, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-thumbs .ad-thumb-list {
  margin-top: 9px;
  margin-left: 1em;
  float: left;
  list-style: none;
}
/* line 155, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-thumbs li {
  float: left;
  padding-right: 1em;
}
/* line 158, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-thumbs li a {
  display: block;
  overflow: none;
  z-index: 10;
}
/* line 162, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-thumbs li a img {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -khtml-border-radius: 0.2em;
  border-radius: 0.2em;
  z-index: 9;
}
/* line 172, ../../app/stylesheets/partials/_gallery.sass */
.ad-gallery .ad-thumbs li a.ad-active img {
  -moz-box-shadow: #52ad4b 0 0 8px 0;
  -webkit-box-shadow: #52ad4b 0 0 8px 0;
  -o-box-shadow: #52ad4b 0 0 8px 0;
  box-shadow: #52ad4b 0 0 8px 0;
}

/* Can't do display none, since Opera won't load the images then */
/* line 177, ../../app/stylesheets/partials/_gallery.sass */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}

/* line 387, ../../app/stylesheets/screen.sass */
#gallery .description {
  clear: both;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}
/* line 391, ../../app/stylesheets/screen.sass */
#gallery .comments {
  clear: both;
  margin-bottom: 1.5em;
  min-height: 7.5em;
  height: auto !important;
  height: 7.5em;
}

/* line 396, ../../app/stylesheets/screen.sass */
.paginate {
  clear: both;
}
