#about
  #special_notice
    %p
      Having trouble logging into the new site?
    %p
      %em Remember your login name is now your email address and your password is "changemenow". 
      Please change your password once you login the first
      time! Click on your name in the top right to change it.
      
    %p Please let me know any bugs you find, thanks!

  %h2 What's this all about?
  %p
    The Image-a-Day Journal was a project conceived in the fall of 2008 
    by 
    = link_to "Ryan Kelln", "http://ryankelln.com"
    as a way to keep track of his life and say "yes" to art at least once a day.
    He thought it would be an even better idea if he could convince a bunch of 
    his friends to join him in the project and after a few emails and 
    conversations he recruited a fun bunch of brave people.
  
  %p
    This website become the second attempt at a collaborative tool for the 
    project and is an ongoing bit of 
    = link_to "open source software", "http://github.com/szilm/image-a-day"
    that is being developed as the project evolves.
  
  %p 
    The project began on January 1st, 2009 and ran the full year. Everyone 
    enjoyed it so much they continued again in 2010 with even more fun, brave 
    people. As the project progresses we are creating a personal and shared timeline, 
    journal and calendar of our lives through images.
  %p
    Each person has a different process and idea of what sort of image best
    represents their individual days, but each of them think it is important
    to say "yes" once a day. The only rule to Image-a-Day is to post an image,
    any image, every day.
  
  %p
    If you'd like to participate please contact Ryan (his first and last name
    with no spaces or other punctuation between them at gmail.com will work).