//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import partials/defaults

/* Layout --------------------------------------------------------------

+susy

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
#container
  +container
  +show-grid("grid.png")


// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

//--------------------------------
// Media
//--------------------------------

@media all and (orientation:portrait)
  // Style adjustments for portrait mode goes here


@media all and (orientation:landscape)
  // Style adjustments for landscape mode goes here


@media screen and (max-device-width: 480px)
  // Pass in false if you don't want iOS and WinMobile to mobile-optimize the text for you
  +media-mobile(true)


/* Styles --------------------------------------------------------------

body
  +susy

#container

// debugging
#container *
  background-color: rgba(0,0,0,.125)

$content-cols: 8
$comments-cols: 4

#header
  +full
  #title
    +columns(4, $total-cols)
    +adjust-font-size-to(32px)
    +trailer(1,32px)

  #nav
    +columns($content-cols, $total-cols)
    +omega($total-cols)
    +leader
    ul
      +horizontal_list(1em)
      li
        width: $col-width
        text-align: center
        padding-right: 0
      #user
        width: auto
        float: right
        text-align: right

#main
  +full
  #flash
    +columns($total-cols)
    +omega($total-cols)
  #content
    +columns($content-cols, $total-cols)
  #wall
    +columns($comments-cols, $total-cols)
    +omega($total-cols)

#footer
  +full


//.Devise /////////////////////////////////////////////////////

#login, #signup
  +columns(5,12)
  +prepend(3,12)
  +rhythm-borders

// Comments ///////////////////////////////////////////////////

.input_prompt
  margin-bottom: 0

#new_comment
  +full(4)
  .controls
    +full(4)
    +trailer
    text-align: right
  input
    +adjust-font-size-to(12px)
    +box-sizing(border-box)
    //padding: 0
    //margin: 0
    //margin-top: -0.25em

.comment, summary
  +full(4)
  +trailing-border(1px, 0)
  p
    +full(4)
    +trailer(0)
    padding-left: $gutter-width
  .info
    +full(4)
    +horizontal_list(4px)
    +adjust-font-size-to(12px)
    //+omega(4)
    .user
      font-weight: bold
    .date
      font-style: italic

// Images controller //////////////////////////////////////////

.images
  .image
    +full($content-cols)
    & > div
      +full($content-cols)
    & > details
      +full($content-cols)
      +trailer
    .icon
      +columns(1, $content-cols)
      img
        min-height: 1.5em
        max-height: 3em
        min-width: 3em
        max-width: $col-width
      & + details
        +columns(7, $content-cols)
        +omega($content-cols)
        clear: none
