- content_for(:comment_notices) do
  = link_to "Upload today's image", upload_path, :class => "control-link"

.weeklist
  = render('weekly',
    :label => @user.nickname,
    :images => @user.weekly_images,
    :classes => "user")
  - for week in @weekly_images
    = render 'weekly', :label => week[:user].nickname, :images => week[:images]