.image
  - if current_page?(image) 
    .fullsize
      %img(src="#{image.data.url}" class="fullsize")
  - else
    .icon
      = link_to image do
        %img(src="#{image.data.url(:icon)}" class="icon")
  %details
    %summary
      = render 'layouts/details', {:subject => image}