%h1 Listing images

.paginate
  %p
    = will_paginate @images

%p
  = link_to 'Upload image', upload_path

- @images.each do |image|
  = render image, :size=>:thumb

.paginate
  %p
    = will_paginate @images
