%h2.date
  = @image.long_date
  
= render @image

.comments
  = render('comments/comment_section',
            {:comments => @image.comments,
             :comment_resource => [@image, @image.comments.build]})

= link_to 'Back', images_path
