%nav#nav
  %ul
    %li Today
    %li Week
    %li Month
    %li#user  
      - if user_signed_in?
        Signed in as
        %b= current_user.email
        = link_to "Sign out", destroy_user_session_path
      -else
        /= link_to "Sign up", new_user_registration_path
        /or
        = link_to "Sign in", new_user_session_path
